body {
  margin: 0;
  display: grid;
  grid-template-rows: 4rem auto 1fr auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "marquee"
    "hero"
    "product"
    "footer";
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header {
  grid-area: header;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 0.5rem;
}

/* marquee-section */
.marquee {
  grid-area: marquee;
  background-color: red;
  color: white;
  overflow-x: hidden;
}

.hero {
  grid-area: hero;
}

.product {
  grid-area: product;
}

.footer {
  grid-area: footer;
  background-color: black;
  color: white;
}

/* header-section */

.nav_menu {
  list-style: none;
  gap: 2rem;

  @media (max-width: 460px) {
    display: none;
  }
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav_menu li:hover {
  animation: skyfall 1s 1 linear;
  cursor: pointer;
}

@keyframes skyfall {
  0% {
    transform: rotate(0deg) translate(0%) scale(2);
  }
  75% {
    transform: rotate(270deg) translate(500%) scale(0.5);
  }
  100% {
    transform: rotate(0deg) translate(0%) scale(2);
  }
}

.logo {
  animation: logo 1s infinite ease-in-out;
}

@keyframes logo {
  0% {
    transform: rotate(0deg) translate(0%);
  }
  100% {
    transform: rotate(45deg) translate(100%);
  }
}

/* marquee-section */
.marquee-container {
  justify-content: flex-start;
  animation: marquee-text 4s infinite linear;
}

.marquee,
.marquee-container:hover {
  cursor: pointer;
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
}

@keyframes marquee-text {
  0% {
    transform: translate(0vw);
  }

  100% {
    transform: translate(100vw);
  }
}

/* hero-section */
.hero_container {
  background: url(https://images.unsplash.com/photo-1596807996038-612df413be5e?q=80&w=2971&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  height: 45rem;
}

.hero_container p {
  background-color: wheat;
  padding: 3rem 5rem;
  font-size: x-large;
  border-radius: 2rem;
  animation: scaleup 1s infinite linear;
  color: red;
  z-index: 100;
}

@keyframes scaleup {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(7);
  }
}

/* product-section */
.product > h3 {
  margin-left: 1rem;
}
.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto;
  gap: 3rem;
  justify-items: center;
  background-color: red;
  padding: 1rem;
}

.product-card {
  background-color: white;
  border-radius: 2rem 0;
  box-shadow: 2px 3px 5px #999;
}

.product-card:hover {
  cursor: pointer;
  animation: rotate 0.2s 5 linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-card .card-body {
  padding: 1rem;
  justify-content: flex-start;
  justify-content: space-between;
}

.card-body .price {
  margin-top: 2rem;
  line-height: 0.3rem;
}

.price .actual-price {
  text-decoration: line-through;
  color: gray;
}

.price .deal-price {
  font-size: large;
  color: red;
}

.btn {
  border: none;
  padding: 1rem 2rem;
  font-size: large;
  font-weight: bold;
  background-color: red;
  color: white;
  border-radius: 2rem 5rem;
  padding: 1rem 2rem;
  animation: shake 0.7s infinite linear;
}

@keyframes shake {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translate(100%) scale(0.5);
  }
}

.img-container {
  height: 15rem;
  width: 25rem;
  border-radius: 2rem 0;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 2rem 0;
  backdrop-filter: blur(5px);
}

/* footer-section */
.footer div {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg) scale(4);
  }
}
